.arrow-btn {
    transition: transform 0.3s ease-in-out;
}

.arrow-btn:hover {
    transform: translateX(5px);
}


.portfolio-btn { 
    height: 70%;
}

.image-frame {
    display: inline-block;
    width: 400px; /* Adjust size as needed */
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #B2BEB5; /* Change color as needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
